.content {
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.top-focus {
    height: 25%;
    width: auto;
    text-align: center;
    display: flex;
    align-items: center;
    background-image: url("images/green.jpg");
    border-top-left-radius: 1%;
    border-top-right-radius: 1%;
    background-position: center;
    background-size: cover;
}

.top-focus h1 {
    width: 100%;
    font-size: 2.5em;
    font-family: serif;
    text-shadow: 2px 2px 2px #668175;
}

.bottom-focus {
    height: 75%;
    display: flex;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: auto;
    align-content: center;
}

@media (min-width: 900px) {
    .bottom-focus { grid-template-columns: repeat(3, 1fr); }
    .content {height: 50vh;}
    .bottom-focus {margin: 40px 20px;}
}

.bottom-focus div {
    width: auto;
    display: flex;
    margin: 20px 5px;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.phone-header, .email-header, .po-header {
    padding-bottom: 8px;
    width: 200px;
    border-bottom: 1px solid grey;
    font-family: 'Lucida Grande', 'Lucida Sans', sans-serif;;
}

.po {
    margin: 5px;
}
