
body {
    background-color: #d1ccb7;
    height: 100%;
}

.header {
    display: flex;
    background-color: #00190E;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vw;
    max-height: 50px;
    align-items: center;
}

nav {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    
}

.navlinks {
    display: flex;
    list-style: none;
    height: 100%;
    align-items: center;

}

.navlink {
    display: flex;
    height: 100%;
}

.navlink a {
    width: 100%;
    margin: auto;
    text-align: center;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
    font-size: 2vh;
    padding: 0vh 2vw;
    color: #f2f2f2;

}

.navlink:hover, .navlink a:hover{
    background-color: #ffffff;
    color: #000000;
}

.navlink.active, .navlink:active, .navlink a:active {
    background-color: #37765B;
    color: #ffffff;
}

.logo {
    height: 100%;
    width: 10vw;
    max-width: 50px;
    max-height: 50px;
}

.logo img {
    height: 100%;
    width: 100%;
}