.topnav {
    background-color: #132719;
    overflow: hidden;
    margin-left: 64px;
    height: 64px;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ffffff;
    color: #000000;
}

.topnav a.active {
    background-color: #57b08f;
    color: #ffffff;
}

.logo {
    background-color: #132719;
    float: left;
    width: 64px;
    height: 64px;
}