
/* div {
    border: 2px solid blue;
}

div a {
    border: 2px solid red;
} */

* {
  box-sizing:border-box;
}

body {
    background-color: #d1ccb7;
}

.topnav {
    background-color: #00190E;
    overflow: hidden;
    height: 10%;
}

.topnav > .button a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 25.5px 20px;
    text-decoration: none;
    font-size: 75%;
    font-family: 'Trebuchet MS';
}

.topnav > .button:hover{
    background-color: #ffffff;
    color: #00190E;
}

.topnav > .button a.active, .topnav a:active{
    background-color: #37765B;
    color: #ffffff;
}

.topnav > .logo {
    float: left;
    width: 64px;
    height: 10%;
    text-align: center;
    font-size: 0px;
}

.logo img {
    height: 100%;
    width: 100%;
}

/* .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 60px;
    margin-left: 73.5px;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 10px 8px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:active .dropdown-content {
    display: block;
} */