.products-array {
    border: 1px solid black;
    display: grid;
    place-items: center;
    height: 100%;
    width: 95%;
    margin: auto;
    margin-top: 20px;
    grid-template-columns: repeat(auto, 2fr);
    grid-gap: 15px;
    grid-auto-rows: 200px;
    font-size: 0px;
    
}

.product {
    margin: 10px, 100px;
    padding: 5px;
    border-radius: 5%;
    background: #c1bcaa;
    align-content: center; 
    text-align: left;
    width: 90%;
}

.product-image {
    width: 120px;
    height: 150px;
    border-radius: 5%;
    outline: 1px solid black;
    float: left;
    margin: 10px;
}

.product-description {
    font-family: 'Georgia';
    font-size: 10px;
}